.form .btn {
  margin-left: 0px !important;
  width: 100%;
  margin-bottom: 32px;
}

.form {
  flex: 2 1;
  align-self: center;
  display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.signin {
  overflow: hidden !important;
}

